@import '../utils/colors';
@import '../utils/typography';

html {
  font-size: 8px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  margin: 0;
  font-size: map-get($type-size-steps, "body");
  line-height: map-get($line-height-steps, "body");
  font-weight: map-get($font-weight-steps, "body");
  color: $gray-14;
  position: relative;
  height: 100vh;
}

hr {
  margin: 1rem 0;
  border-top: 1px solid $gray-14;
}

hr[dashed] {
  border-style: dashed;
}
