@import '../../styles/utils/colors';

.mat-tab-body-content {
  overflow: hidden !important;
}

.form {
  background-color: $white;
  padding: 0 2rem;

  .--character-class {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    .--character {
      width: 80%;
    }

    .--class {
      display: flex;
      flex-direction: row;
    }
  }

  .--bio {
    padding-top: 2rem;
  }
}
