<div>
  <h2> {{ character.name }}</h2>

  <mat-tab-group class="form">
    <mat-tab label="Stats" >
      <form [formGroup]="characterForm" class="row">

        <div class="--character-class col col-7">
          <mat-form-field class="--character">
            <mat-label>Character Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <div class="row">

            <ng-container *ngFor="let characterClass of character.classes; let i = index" formArrayName="classes">
              <div class="--class" [formGroupName]="i">
                <mat-form-field class="col col-4">
                  <mat-select placeholder="Character Class" formControlName="class">
                    <mat-option *ngFor="let class of classes" [value]="class.className">
                      {{ class.key }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col col-2">
                  <mat-label>Level</mat-label>
                  <input matInput formControlName="classLevel">
                </mat-form-field>

                <div class="col col-2">
                  <!--<label>BAB</label>-->
                  <!--<span *ngIf="classes.length">{{ classDetails[characterClass.class].loadout[characterClass.classLevel].bab }}</span>-->
                </div>
              </div>
            </ng-container>

          </div>
        </div>

        <div class="col col-5 --bio">
          <mat-form-field class="--race col">
            <mat-label>Race</mat-label>
            <input matInput formControlName="race">
          </mat-form-field>

          <mat-form-field class="--theme col">
            <mat-label>Theme</mat-label>
            <input matInput formControlName="theme">
          </mat-form-field>

          <mat-form-field class="--theme col col-5">
            <mat-label>Homeworld</mat-label>
            <input matInput formControlName="home">
          </mat-form-field>

          <mat-form-field class="--theme col col-5">
            <mat-label>Size</mat-label>
            <input matInput formControlName="size">
          </mat-form-field>

          <mat-form-field class="--theme col col-2">
            <mat-label>Gender</mat-label>
            <input matInput formControlName="gender">
          </mat-form-field>

          <mat-form-field class="--theme col col-5">
            <mat-label>Speed</mat-label>
            <input matInput formControlName="speed">
          </mat-form-field>

          <mat-form-field class="--theme col col-2">
            <mat-label>Alignment</mat-label>
            <input matInput formControlName="alignment">
          </mat-form-field>

          <mat-form-field class="--theme col col-5">
            <mat-label>Deity</mat-label>
            <input matInput formControlName="deity">
          </mat-form-field>
        </div>

      </form>

    </mat-tab>


  </mat-tab-group>

  <button (click)="submitCharacter(character)">Save</button>

</div>
